name: Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Gradle build
        uses: burrunan/gradle-cache-action@v2
        with:
          arguments: |
            build
            -x detekt
          properties: |
            org.gradle.caching=true
          gradle-version: wrapper
      - name: Upload gradle reports
        uses: actions/upload-artifact@v4
        with:
          name: gradle-reports
          path: '**/build/reports/'
